
$form-required-color			: red !default;

[data-match]
{
	.icon
	{
		opacity					: .3;
		transition				: all .5s;
	}

	&.valid
	{
		.icon
		{
			opacity				: 1;
		}
	}
}

.js
{
	.step
	{
		// use height rather than display so autofill still works
		overflow				: hidden;

		&.valid + .step
		{
			height				: auto
		}

		+ .step,
		&.invalid ~ .step
		{
			height				: 0;
		}
	}
}

$fh-placeholder-bg-colour		: transparent !default;

/*---
Fields
@group			UIComponents/Form
@desc			...
@modifier		number		: ...
@modifier		password	: ...
@modifier		email		: ...
@modifier		url			: ...
@modifier		tel			: ...
@modifier		search		: ...
@modifier		date		: ...
@modifier		range		: ...
@modifier		file		: ...
@modifier		color		: ...
@todo			Document
@author			Michael Ord
@tags			form
---
<div class="field field--{modifier|text}">
	<div class="c\ontainer field__container">
		<div class="inner field__inner">
			<div class="field__label">
				<label>
					<span>Label ({modifier|text})</span>
					<em title="Required" class="field__label-required">*</em>
				</label>
			</div>
			<div class="field__field">
				<div class="input">
					<input type="{modifier|text}" class="">
				</div>
			</div>
		</div>
	</div>
</div>
*/
.field
{
	$parent						: &;

	padding						: .5rem 0;

	& + &
	{

	}

	.icon
	{
		width					: 16px;
		height					: 16px;
		position				: relative;
	}

	&__container
	{

	}

	&__label
	{
		margin					: 0 0 10px 0;

		&-required
		{
			color				: $form-required-color;
			text-decoration		: none !important;
		}
	}

	&__description
	{

	}

	&__field
	{
		position				: relative;

		ul
		{
			margin-bottom		: .5rem;
		}

		label
		{
			font-weight			: normal;
		}
	}

	&__errors
	{
		&:empty
		{
			display				: none;
		}
	}

	&__input
	{
		position				: relative;

		label
		{
			display				: block;
		}

		~ *
		{
			margin-top			: 10px;
		}
	}

	&--button
	{
		#{$parent}__field
		{
			text-align			: right;
		}
	}

	&__mask
	{
		position				: absolute;
		left					: 0;
		top						: 0;
		color					: $fh-placeholder-colour;
		pointer-events			: none;
		padding					: $fh-input-padding;
		transform				: translate($fh-border-width, $fh-border-width);

		> span
		{
			visibility			: hidden;
		}
	}

	&__error
	{
		margin					: 0;
	}

	#{$parent}__field
	{
		.popover
		{
			position			: absolute;
			bottom				: 100%;
			z-index				: 10;
			right				: 80px;
			margin-bottom		: 10px;
		}
	}

	&--disabled
	{
		opacity					: .4;

		label
		{
			cursor				: inherit;
		}
	}

	&--readonly
	{
		label
		{
			cursor				: inherit;
			font-weight			: inherit;
		}
	}

	&--sm
	{
		#{$parent}__field
		{
			max-width			: 100px;
		}
	}
}

input[type="radio"],
input[type="checkbox"]
{
	@extend %visually-hide;

	+ label
	{
		position				: relative;
		padding-left			: 22px;

		.icon
		{
			width				: 16px;
			height				: 16px;
			margin				: 0;
			vertical-align		: middle;
			position			: absolute;
			top					: 0;
			left				: 0;
		}
	}

	&:checked
	{
		+ label
		{
			.icon
			{
				color			: $clr-primary;
			}
		}
	}

	&[aria-invalid="true"]
	{
		+ label
		{
			.icon
			{
				color			: $fh-invalid-border-color;
			}
		}
	}
}

/*
.input
{
	ul
	{
		margin					: 0;
		list-style				: none;
		padding					: 0;
	}

	&--group
	{
		position				: relative;
		display					: table;
		border-collapse			: separate;
		width					: 100%;

		> ul
		{
			padding 			: $fh-input-padding;
			border				: $fh-border-width $fh-border-style $fh-border-color;
		}

		input,
		textarea,
		select
		{
			@if($fh-border-radius)
			{
				border-radius	: 0;
			}
		}

		> *
		{
			display				: table-cell;

			&:first-child
			{
				@if($fh-border-radius)
				{
					border-top-left-radius		: $fh-border-radius;
					border-bottom-left-radius	: $fh-border-radius;
				}
			}

			&:last-child
			{
				@if($fh-border-radius)
				{
					border-top-right-radius		: $fh-border-radius;
					border-bottom-right-radius	: $fh-border-radius;
				}
			}
		}
	}

	&__prepend,
	&__append
	{
		width					: 1%;
		white-space				: nowrap;
		vertical-align			: middle;
		padding					: 6px 12px;
		font-weight				: 400;
		line-height				: 1;
		color					: #555;
		text-align				: center;
		background-color		: $fh-input-bg-color;
		border					: $fh-border-width $fh-border-style $fh-border-color;
	}

	&__prepend
	{
		border-right			: 0;
	}

	&__append
	{
		border-left				: 0;
	}

	&__loader
	{
		position				: absolute;
		right					: 0;
		top						: 50%;

		.input--group &
		{
			position			: relative;
		}

		.field--textarea &
		{
			top					: 20px;
		}

		.field--select &
		{
			right				: 20px;
		}

		.spinner
		{
			height				: 20px;
			width				: 20px;
			margin-left			: -30px;
			top					: 50%;
			margin-top			: -10px;
			position			: absolute;

			&:after
			{
				content			: "";
				position		: absolute;
				top				: 50%;
				left			: 50%;
				width			: 20px;
				height			: 20px;
				border			: 2px solid;
				border-color	: #000 transparent transparent transparent;
				border-radius	: 100%;
				transition		: .3s ease;
				animation		: spin 1s infinite;
		  		transform-origin: 0 0;
			}
		}

		.tooltip
		{
			position			: absolute;
			right				: 0;
			bottom				: 100%;
			display				: none;
		}
	}
}
*/

.form
{
	&--side
	{
		@include device(md)
		{
			.field:not(.field--wide)
			{
				.field
				{
					&__inner
					{
						text-align			: justify;
						line-height			: 0;

						&:after
						{
							content			: "";
							display			: inline-block;
							width			: 100%;
						}
					}

					&__label,
					&__field
					{
						display				: inline-block;
						vertical-align		: top;
						text-align			: left;
						line-height			: $base-line-height;
					}

					&__label
					{
						width				: 20%;
						margin				: 0;
					}

					&__field
					{
						width				: 78%;
					}
				}
			}
		}
	}
}

.character-count
{
	text-align					: right;
	font-size					: 80%;
	margin						: 0;
	border						: 1px solid $fh-border-color;
	border-top					: 0;

	&__text
	{
		display					: block;
		background				: $fh-input-bg-color;
		padding					: 10px;
	}
}

.field
{
	&__validation
	{
		pointer-events			: none;
		opacity					: 0;
		transition				: all .5s;

		.icon
		{
			display				: none;
		}
	}

	&__icons
	{
		height					: 16px;
		position				: absolute;
		right					: 8px;
		top						: 10px;
		line-height				: 1;

		.icon
		{
			width				: 16px;
			height				: 16px;
			transition			: none;
			margin-left			: 4px;
		}
	}

	select ~
	{
		.field__icons
		{
			display				: none;
		}
	}
}

input[aria-invalid="true"],
textarea[aria-invalid="true"],
select[aria-invalid="true"]
{
	~
	{
		.field__icons
		{
			.field__validation
			{
				color			: $fh-invalid-border-color;
				opacity			: 1;

				.icon--close-outline
				{
					display		: inline-block;
				}
			}
		}
	}
}

input[aria-invalid="false"],
textarea[aria-invalid="false"],
select[aria-invalid="false"]
{
	~
	{
		.field__icons
		{
			.field__validation
			{
				color			: $fh-valid-border-color;
				opacity			: 1;

				.icon--checkmark-outline
				{
					display		: inline-block;
				}
			}
		}
	}
}

.field--placeholder
{
	.field
	{
		&__label
		{
			display				: none;
		}

		&__input
		{
			input,
			textarea,
			select
			{
				background		: transparent;
				border-top		: 0;
				border-left		: 0;
				border-right	: 0;

				&:hover, &
				{
				}

				~ .field__placeholder-label
				{
					position	: absolute;
					top			: 50%;
					left		: 0;
					padding		: 3px 10px;
					transition	: all .2s;
					font-weight	: 400;
					color		: inherit;
					transform	: translate(0, -50%);
				}

				// when the field is fosused, or has a value, or javascript is turned off, position the label
				// at the top of the input so the user can still fill in the field in
				&:focus,
				&.has-value,
				.no-js &
				{
					~ .field__placeholder-label
					{
						top			: 0;
						font-size	: 80%;
						color		: inherit;
						opacity		: .5;
					}

					~ .field__mask
					{
						display		: block;
					}
				}
			}

			.field__mask
			{
				display			: none;

				// removing the borders for the input, remove the offset
				transform		: translate(0, 0);
			}

			::-webkit-input-placeholder
			{
				color			: transparent;
			}

			:-moz-placeholder
			{
				color			: transparent;
			}

			::-moz-placeholder
			{
				color			: transparent;
			}

			:-ms-input-placeholder
			{
				color			: transparent;
			}
		}
	}

	&.field--select,
	&.field--file
	{
		.field
		{
			&__input
			{
				select,
				input
				{
					~ .field__placeholder-label
					{
						top			: 0;
						font-size	: 80%;
						color		: inherit;
						opacity		: .5;
					}
				}
			}
		}
	}

	&.field--textarea
	{
		.field
		{
			&__input
			{
				textarea
				{
					~ .field__placeholder-label
					{
						top		: 24px;
					}

					&:focus,
					&.has-value,
					.no-js &
					{
						~ .field__placeholder-label
						{
							top	: 0;
						}
					}
				}
			}
		}
	}

	@if($warning-messages)
	{
		.form--side &
		{
			.field__container
			{
				&:before
				{
					content		: "It's recommended that ...";
					display		: block;
					background	: #ff00ff;
					color		: #fff;
					padding		: 10px;
					margin		: 5px 0;
				}
			}
		}
	}
}
