<div class="{{modifiers "field" this.modifiers}} field--button">
	<div class="c\ontainer field__container">
		<div class="inner field__inner">
			<div class="field__field">
				<div class="field__input">
					{{#if demo}}
						<button class="btn btn--positive" name="status" value="pass">{{fallback this.label "Submit"}} (success)</button>
						<button class="btn btn--negative" name="status" value="fail">{{fallback this.label "Submit"}} (failure)</button>
					{{else}}
						<button class="{{modifiers "btn" this.btn-modifiers}} btn--primary">
							{{#if icon}}
								{{icon icon}}
							{{/if}}
							<span class="text">{{fallback this.label "Submit"}}</span>
						</button>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
