
<div class="{{modifiers "field" this.modifiers}} {{#if field-float-label}} field--placeholder{{/if}} {{classes}} field--checkbox">
	<div class="c\ontainer field__container">
		<div class="inner field__inner">
			{{#if options}}
			<div class="field__label">
				<label for="{{#if this.id}}{{this.id}}{{else}}{{fid true}}{{/if}}"><span id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">{{fallback this.label "Checkbox"}}</span> {{#if this.required}}<abbr title="Required" class="field__label-required">*</abbr>{{/if}}</label>
			</div>
			{{/if}}
			<div class="field__field">
				<div class="field__input">
					{{#if options}}
					<ul class="list--unstyled {{#if inline}}list--inline{{/if}}">
						{{#strarr options}}
						<li>
							<input type="checkbox" name="{{../name}}" class="{{../class}}" id="{{fid true}}" value="{{slugify this}}" {{#if ../required}}required{{/if}} {{#if ../disabled}}disabled{{/if}} {{#if ../readonly}}readonly{{/if}} aria-labelledby="{{#if ../id}}{{../id}}{{else}}{{fid}}{{/if}}-lbl" data-errorid="{{#if ../id}}{{../id}}{{/if}}-error" {{#if ../minchecked}} data-minchecked="{{../minchecked}}"{{/if}}{{#if ../maxchecked}} data-maxchecked="{{../maxchecked}}"{{/if}}>
							<label for="{{fid}}">
								{{icon 'checkbox'}}
								<span>{{this}}</span>
							</label>
						</li>
						{{/strarr}}
					</ul>
					{{else}}
						<input type="checkbox" name="{{this.name}}" class="{{this.class}}" id="{{#if this.id}}{{this.id}}{{else}}{{fid true}}{{/if}}" value="on" {{#if this.required}}required{{/if}} {{#if this.disabled}}disabled{{/if}} {{#if this.readonly}}readonly{{/if}} aria-labelledby="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl" {{#if this.minchecked}} data-minchecked="{{this.minchecked}}"{{/if}}{{#if this.maxchecked}} data-maxchecked="{{this.maxchecked}}"{{/if}}>
						<label for="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}">
							{{icon 'checkbox'}}
							<span id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">{{fallback this.label "Default Label"}}</span> {{#if this.required}}<abbr title="Required" class="field__label-required">*</abbr>{{/if}}
						</label>
					{{/if}}
				</div>
				{{#unless hideerrors}}
				<div class="field__error msg msg--error" id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-error"></div>
				{{/unless}}
			</div>
		</div>
	</div>
</div>
