

.credit-card
{
	perspective					: 1000px;
	margin						: 0 auto;
	font-family					: $mono-font-family;
	text-transform				: uppercase;
	user-select					: none;

	&__main
	{
		position				: relative;
		transition				: 0.6s ease-in-out;
		transform-style			: preserve-3d;
	}

	&,
	&__front,
	&__back
	{
		width					: 340px;
		height					: 212px;
	}

	&__front,
	&__back
	{
		backface-visibility		: hidden;
		position				: absolute;
		top						: 0;
		left					: 0;
		border-radius			: 5px;
		transition				: background-color .5s;
	}

	&__front
	{
		background-color		: #333;
		color					: #fff;
		z-index					: 2;
		transform				: rotateY(0deg);
	}

	&__back
	{
		background-color		: #333;
		transform				: rotateY(180deg);

		.credit-card__face
		{
			&:after
			{
				content			: "";
				position		: absolute;
				left			: 0;
				background		: #000;
				width			: 100%;
				height			: 45px;
				top				: 25px;
			}
		}
	}

	&.back
	{
		.credit-card__main
		{
			transform			: rotateY(180deg);
		}
	}

	&__face
	{
		height					: 100%;
		position				: relative;
	}

	// front assets
	&__number
	{
		text-align				: center;
		font-weight				: bold;
		font-size				: 1.3rem;
		position				: absolute;
		left					: 50px;
		right					: 50px;
		top						: 50%;
		transform				: translate(0, -50%);

		&:empty
		{
			color				: #aaa;

			&:before
			{
				content			: "•••• •••• •••• ••••";
			}
		}
	}

	&__name
	{
		position				: absolute;
		left					: 20px;
		bottom					: 10px;
		transform				: translate(0, -50%);

		&:empty
		{
			color				: #ccc;

			&:before
			{
				content			: "Joe Bloggs";
			}
		}
	}

	&__expiry
	{
		position				: absolute;
		right					: 20px;
		bottom					: 10px;
		transform				: translate(0, -50%);

		&:empty
		{
			color				: #ccc;

			&:before
			{
				content			: "••/••";
			}
		}
	}

	// back assets
	&__cvv
	{
		text-align				: right;
		position				: absolute;
		left					: 30px;
		right					: 30px;
		top						: 50%;
		transform				: translate(0, -50%);
		background-color		: #fff;
		padding					: 10px;

		&:empty
		{
			color				: #ccc;

			&:before
			{
				content			: "•••";
			}
		}
	}

	&--visa
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: #1b6fc6;
		}
	}

	&--mastercard
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: orange;
		}
	}

	&--amex
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: blue;
		}
	}

	&--diners,
	&--diners_us
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: blue;
		}
	}

	&--discover
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: teal;
		}
	}

	&--jcb
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: red;
		}
	}

	&--laser
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: teal;
		}
	}

	&--solo
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: teal;
		}
	}

	&--switch
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: teal;
		}
	}

	&--maestro
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: teal;
		}
	}

	&--unionpay
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: teal;
		}
	}

	&--dankrot
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: teal;
		}
	}

	&--rupay
	{
		.credit-card__front,
		.credit-card__back
		{
			background-color	: teal;
		}
	}
}
/*
.credit-card-fields
{
	width						: 340px;
	margin						: 0 auto;
}
*/
