
<div class="box box--alt">
	<div id="credit-card" class="credit-card">
		<div class="credit-card__main">
			<div class="credit-card__front">
				<div class="credit-card__face">
					<span class="credit-card__number"></span>
					<span class="credit-card__name"></span>
					<span class="credit-card__expiry"></span>
				</div>
			</div>
			<div class="credit-card__back">
				<div class="credit-card__face">
					<span class="credit-card__cvv"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="credit-card-fields">
	<form action="">
		{{> form/text
			id					= "cardnumber"
			label				= "Card Number"
			required			= true
			field-float-label	= true
			placeholder			= "•••• •••• •••• ••••"
			mask				= true
			validator			= "creditcard"
		}}

		{{> form/text
			id					= "cardexpiry"
			label				= "Expiry Date"
			required			= true
			field-float-label	= true
			placeholder			= "MM/YY"
			mask				= true
			validator			= "mm/yy"
		}}

		{{> form/number
			id					= "cardcvv"
			label				= "CVC/CVV"
			required			= true
			field-float-label	= true
			placeholder			= "•••"
			mask				= true
			minlength			= 3
			maxlength			= 3
		}}

		{{> form/text
			id					= "cardname"
			label				= "Cardholder's Name"
			required			= true
			field-float-label	= true
		}}

		{{> form/button
			btn-modifiers		= "wide"
		}}
	</form>
</div>
