
<div class="container container--xl container--padded">
	<form id="form" action="form.html#form" data-validate='' method="post" novalidate>
		<div class="grid grid--gutters grid--2@sm grid--3@md grid--4@lg">
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Checkbox</span>
					</header>
					{{> form/checkbox
						label			= "Checkbox Options"
						id				= "cb1"
						name			= "cb1"
						required		= true
						minchecked		= 2
						options			= "Option 1,Option 2,Option 3"
					}}
					{{> form/checkbox
						label			= "Checkbox Options"
						id				= "cb2"
						name			= "cb2"
						required		= true
						inline			= true
						options			= "Option 1,Option 2,Option 3"
					}}

					{{> form/checkbox
						label			= "I have read the terms and conditions"
						name			= "cb3"
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Color</span>
					</header>
					{{> form/color
						required		= true
						value			= "#ff00ff"
					}}
					{{> form/color
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Date-time</span>
					</header>
					{{> form/date-time
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Date</span>
					</header>
					{{> form/date
						required		= true
						value			= "2016-12-20"
					}}
					{{> form/date
						required		= true
					}}
					{{> form/date
						name			= "eee"
						required		= true
						value			= "2016-03-13"
						max				= "1998-03-13"
						maxmsg			= "You must be at least 18 years old"
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Datetime-local</span>
					</header>
					{{> form/datetime-local
						required		= true
						value			= "2016-12-20T20:00"
					}}
					{{> form/datetime-local
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Email</span>
					</header>
					{{> form/email
						required		= true
						value			= "michael.ord@gmail.com"
					}}
					{{> form/email
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">File</span>
					</header>
					{{> form/file
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Month</span>
					</header>
					{{> form/month
						required		= true
						value			= "2016-09"
					}}
					{{> form/month
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Number</span>
					</header>
					{{> form/number
						required		= true
						value			= 250
					}}
					{{> form/number
						required		= true
					}}
					{{> form/number
						label			= "At least 10"
						required		= true
						value			= 9
						min				= 10
					}}
					{{> form/number
						label			= "At most 10"
						required		= true
						value			= 11
						max				= 10
					}}
					{{> form/number
						label			= "Exactly 10"
						required		= true
						value			= 6
						min				= 10
						max				= 10
					}}
					{{> form/number
						label			= "Between 10 & 15"
						required		= true
						value			= 16
						min				= 10
						max				= 15
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Password</span>
					</header>
					{{> form/password
						required		= true
						value			= "p@ssword"
					}}
					{{> form/password
						required		= true
					}}
					{{> form/password
						label			= "New Password"
						required		= true
						value			= "P@ssword3"
						id				= "master-password"
					}}
					{{> form/password
						label			= "Password Repeat"
						required		= true
						value			= "P@ssword4"
						equal			= "#master-password"
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Radio</span>
					</header>
					{{> form/radio
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Range</span>
					</header>
					{{> form/range
						required		= true
						value			= 50
					}}
					{{> form/range
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Search</span>
					</header>
					{{> form/search
						required		= true
						value			= "some search"
					}}
					{{> form/search
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Select</span>
					</header>
					{{> form/select
						label			= "Select (required)"
						select			= true
						required		= true
						options			= "Option 1,Option 2,Option 3,Option 4,Option 5,Option 6"
					}}
					{{> form/select
						label			= "Select (min 2)"
						required		= true
						minchecked		= 2
						multiple		= true
						options			= "Option 1,Option 2,Option 3,Option 4,Option 5,Option 6"
					}}
					{{> form/select
						label			= "Select (max 2)"
						required		= true
						maxchecked		= 2
						multiple		= true
						options			= "Option 1,Option 2,Option 3,Option 4,Option 5,Option 6"
					}}
					{{> form/select
						label			= "Select (between 1-3)"
						required		= true
						minchecked		= 1
						maxchecked		= 3
						multiple		= true
						options			= "Option 1,Option 2,Option 3,Option 4,Option 5,Option 6"
					}}
					{{> form/select
						label			= "Select (exactly 2)"
						required		= true
						minchecked		= 2
						maxchecked		= 2
						multiple		= true
						options			= "Option 1,Option 2,Option 3,Option 4,Option 5,Option 6"
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Tel</span>
					</header>
					{{> form/tel
						required		= true
						value			= "0123456789"
					}}
					{{> form/tel
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Text</span>
					</header>
					{{> form/text
						required		= true
						value			= "sample text"
					}}
					{{> form/text
						required		= true
					}}
					{{> form/text
						label			= "At least 10 chars"
						required		= true
						value			= "00000000"
						minlength		= 10
					}}
					{{> form/text
						label			= "At most 10 chars"
						required		= true
						value			= "00000000000"
						maxlength		= 10
					}}
					{{> form/text
						label			= "Exactly 10 chars"
						required		= true
						value			= "000000000"
						minlength		= 10
						maxlength		= 10
					}}
					{{> form/text
						label			= "Between 10 & 15"
						required		= true
						value			= "000000000"
						minlength		= 10
						maxlength		= 15
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Textarea</span>
					</header>
					{{> form/textarea
						required		= true
						value			= "sample text"
					}}
					{{> form/textarea
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Url</span>
					</header>
					{{> form/url
						required		= true
						value			= "http://example.com/"
					}}
					{{> form/url
						required		= true
					}}
				</div>
			</div>
			<!-- //-->
			<div class="grid__item">
				<div class="card">
					<header class="card__header">
						<span class="card__label">Week</span>
					</header>
					{{> form/week
						required		= true
						value			= "2016-W25"
					}}
					{{> form/week
						required		= true
					}}
				</div>
			</div>
		</div>
		{{> form/button
			label				= "Submit Form"
		}}
	</form>
</div>
