{{#if this.helper}}
	<div id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-helper">
		<dl>
			<dt>Password must include</dt>
			<dd data-match="(\w){8,}">{{icon 'success' 'sm'}} 8 characters</dd>
			<dd data-match="[0-9]">{{icon 'success' 'sm'}} A number</dd>
			<dd data-match="[A-Z]">{{icon 'success' 'sm'}} An uppercase letter</dd>
			<dd data-match="[a-z]">{{icon 'success' 'sm'}} An lowercase letter</dd>
		</dl>
	</div>
{{/if}}

<div class="{{modifiers "field" this.modifiers}} {{#if field-float-label}} field--placeholder{{/if}} {{classes}} field--password">
	<div class="c\ontainer field__container">
		<div class="inner field__inner">
			<div class="field__label">
				<label for="{{#if this.id}}{{this.id}}{{else}}{{fid true}}{{/if}}"><span id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">{{fallback this.label "Password"}}</span> {{#if this.required}}<abbr title="Required" class="field__label-required">*</abbr>{{/if}}</label>
			</div>
			<div class="field__field">
				<div class="field__input">
					<input type="password" name="{{this.name}}" class="{{this.class}}" id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}" autocorrect="off" autocapitalize="off" spellcheck="false" {{#if this.required}}required{{/if}} {{#if this.disabled}}disabled{{/if}} {{#if this.readonly}}readonly{{/if}} aria-labelledby="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl" value="{{formValue this.name this.value}}"{{#if this.equal}}data-equal="{{this.equal}}"{{/if}}{{#if this.notequal}}data-notequal="{{this.notequal}}"{{/if}}{{#if this.placeholder}} placeholder="{{this.placeholder}}"{{#if mask}} data-mask="{{this.placeholder}}"{{/if}}{{/if}}{{#if this.helper}}data-helper="#{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-helper"{{/if}} {{#if this.validator}}data-validator="{{this.validator}}"{{/if}}>
					<span class="field__icons">
						<span class="field__validation">{{icon 'checkmark-outline'}}{{icon 'close-outline'}}</span>
						<span class="field__showhide">{{icon 'view-hide'}}{{icon 'view-show'}}</span>
					</span>
					{{#if field-float-label}}
					<label class="field__placeholder-label" for="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}"><span id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">{{fallback this.label "Password"}}</span> {{#if this.required}}<abbr title="Required" class="field__label-required">*</abbr>{{/if}}</label>
					{{/if}}
				</div>
				{{#unless hideerrors}}
				<div class="field__error msg msg--error" id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-error"></div>
				{{/unless}}
			</div>
		</div>
	</div>
</div>
