
<div class="{{modifiers "field" this.modifiers}} {{#if field-float-label}} field--placeholder{{/if}} {{classes}} field--radio">
	<div class="c\ontainer field__container">
		<div class="inner field__inner">
			<div class="field__label">
				<label for="{{#if this.id}}{{this.id}}{{else}}{{fid true}}{{/if}}"><span id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">{{fallback this.label "Radio"}}</span> {{#if this.required}}<abbr title="Required" class="field__label-required">*</abbr>{{/if}}</label>
			</div>
			<div class="field__field">
				<div class="field__input">
					<ul class="list--unstyled {{#if inline}}list--inline{{/if}}">
						{{#if options}}
							{{#strarr options}}
								<li>TODO</li>
							{{/strarr}}
						{{else}}
						<li>
							<input type="radio" name="{{this.name}}" class="" id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}" value="option-1" {{#if this.required}}required{{/if}} {{#if this.disabled}}disabled{{/if}} {{#if this.readonly}}readonly{{/if}} aria-labelledby="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">
							<label for="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}">
								{{icon 'form-radio'}}
								<span id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">Sample Option 1</span>
							</label>
						</li>
						<li>
							<input type="radio" name="{{this.name}}" class="" id="{{fid true}}" value="option-2" {{#if this.required}}required{{/if}} {{#if this.disabled}}disabled{{/if}} {{#if this.readonly}}readonly{{/if}} aria-labelledby="{{fid}}-lbl">
							<label for="{{fid}}">
								{{icon 'form-radio'}}
								<span id="{{fid}}-lbl">Sample Option 2</span>
							</label>
						</li>
						{{/if}}
					</ul>
				</div>
				{{#unless hideerrors}}
				<div class="field__error msg msg--error" id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-error"></div>
				{{/unless}}
			</div>
		</div>
	</div>
</div>
