
<div class="{{modifiers "field" this.modifiers}} {{#if field-float-label}} field--placeholder{{/if}} {{classes}} field--select">
	<div class="c\ontainer field__container">
		<div class="inner field__inner">
			<div class="field__label">
				<label for="{{#if this.id}}{{this.id}}{{else}}{{fid true}}{{/if}}"><span id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">{{fallback this.label "Select"}}</span> {{#if this.required}}<abbr title="Required" class="field__label-required">*</abbr>{{/if}}</label>
			</div>
			<div class="field__field">
				<div class="field__input">
					<select name="{{this.name}}" class="{{this.class}}" id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}" value="{{formValue this.name this.value}}" {{#if this.required}}required{{/if}} {{#if this.disabled}}disabled{{/if}} {{#if this.readonly}}readonly{{/if}} aria-labelledby="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl" {{#if this.multiple}}multiple {{#if this.minchecked}} data-minchecked="{{this.minchecked}}"{{/if}}{{#if this.maxchecked}} data-maxchecked="{{this.maxchecked}}"{{/if}}{{/if}} {{#if this.validator}}data-validator="{{this.validator}}"{{/if}}>
						{{#if select}}
							{{#unless this.multiple}}
								<option value="">Please Select</option>
							{{/unless}}
						{{/if}}
						{{#if options}}
							{{#strarr options}}
								<option value="{{slugify this}}">{{this}}</option>
							{{/strarr}}
						{{else}}
						<option value="1">Option 1</option>
						<option value="2">Option 2</option>
						{{/if}}
					</select>
					<span class="field__icons">
						<span class="field__validation">{{icon 'checkmark-outline'}}{{icon 'close-outline'}}</span>
					</span>
					{{#if field-float-label}}
					<label class="field__placeholder-label" for="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}"><span id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">{{fallback this.label "Select"}}</span> {{#if this.required}}<abbr title="Required" class="field__label-required">*</abbr>{{/if}}</label>
					{{/if}}
				</div>
				{{#unless hideerrors}}
				<div class="field__error msg msg--error" id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-error"></div>
				{{/unless}}
			</div>
		</div>
	</div>
</div>
