
<div class="{{modifiers "field" this.modifiers}} {{#if field-float-label}} field--placeholder{{/if}} {{classes}} field--textarea">
	<div class="c\ontainer field__container">
		<div class="inner field__inner">
			<div class="field__label">
				<label for="{{#if this.id}}{{this.id}}{{else}}{{fid true}}{{/if}}"><span id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">{{fallback this.label "Textarea"}}</span> {{#if this.required}}<abbr title="Required" class="field__label-required">*</abbr>{{/if}}</label>
			</div>
			<div class="field__field">
				<div class="field__input">
					<textarea name="{{this.name}}" class="{{this.class}}" id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}" {{#if this.required}}required{{/if}} {{#if this.disabled}}disabled{{/if}} {{#if this.readonly}}readonly{{/if}} aria-labelledby="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl"{{#if this.minlength}} data-minlength="{{this.minlength}}"{{/if}}{{#if this.maxlength}} data-maxlength="{{this.maxlength}}"{{/if}}{{#if this.placeholder}} placeholder="{{this.placeholder}}"{{#if mask}} data-mask="{{this.placeholder}}"{{/if}}{{/if}} {{#if this.validator}}data-validator="{{this.validator}}"{{/if}}>{{formValue this.name this.value}}</textarea>
					<span class="field__icons">
						<span class="field__validation">{{icon 'checkmark-outline'}}{{icon 'close-outline'}}</span>
					</span>
					{{#if field-float-label}}
					<label class="field__placeholder-label" for="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}"><span id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-lbl">{{fallback this.label "Textarea"}}</span> {{#if this.required}}<abbr title="Required" class="field__label-required">*</abbr>{{/if}}</label>
					{{/if}}
				</div>
				{{#unless hideerrors}}
				<div class="field__error msg msg--error" id="{{#if this.id}}{{this.id}}{{else}}{{fid}}{{/if}}-error"></div>
				{{/unless}}
			</div>
		</div>
	</div>
</div>
